* {
  padding: 0;
  margin: 0;
  border-radius: 5px; 
  box-sizing: border-box;
  font-family: "Segoe UI";
  touch-action: manipulation;
}

body {
  border-radius: 0; 
  background-color: #c00606;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-image: url("./bg.svg");
  height: 100vh;
}

img {
  width: 100px;
  top: 0;
}

.heading {
  margin: 2rem 0 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.heading h1 {
  font-size: 3.5rem;
  margin: 3rem 0 2rem;
  font-family: "Press Start 2P", cursive;
  color: #663200;
}

.heading p {
  font-size: 2rem;
  text-align: center;
}

.holes {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7vw;
}

@media only screen and (max-width: 600px) {
  html{
   font-size: 0.7em;
  }
  .holes{
    margin-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
.hole {
  position: relative;
  height: 5em;
  width: 10em;
  border-radius: 50%;
  background-color: #f6f6f6;
  display: none;
  box-shadow: 1px 16px 21px 8px rgba(242, 135, 135, 0.75);
}

.button button {
  background-color: black;
  height: 50px;
  width: 120px;
  border: 2px solid white;
  margin: 2rem 1rem 0;
  color: white;
  font-size: 1.2rem;
}

.reset {
  display: none;
}

.mole {
  position: absolute;
  z-index: 4;
  width: 5em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: mole 500ms linear;
  pointer-events: none;
  transition: bottom linear 100ms;
}

@keyframes mole {
  0% {
    top: 50%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}

#beep {
  display: none;
}

.leaderboard {
  margin: 2em;
  width: 80%;
  background-color: rgb(239, 239, 239);
  color: rgb(72, 70, 70);
  min-height: 50%;
  border: 5px solid rgb(255, 255, 255);
  overflow-y: scroll;
  max-width: 500px;
}

.leaderboard-item {
  height: 50px;
  border-bottom: 5px rgb(255, 255, 255) solid;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.leaderboard-item * {
  width: 50%;
  padding: 0 1em;
  font-size: 1.7em;
}

#name {
  margin: 1em;
  font-size: 1.7em;
}
